/* Layout */

body {
    margin: 0; /* remove default margins */
    font-family: 'Ubuntu', sans-serif;
}

/* general container */
.container {
    margin: 0 auto; /* center all containers */
    width: 80%; /* responsive width of containers: % is wrt parent's width*/
    max-width: 800px; /* do not go above certain pixels wide */
}

/* layout of h1 and navbar using flex */
.container-nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%; /* to contain the image within its parent instead of original size */
}

.columns {
    display: flex; /* flex container for main and aside */
    justify-content: space-between; /* additional white space is evenly distributed 'between' the columns */
    align-items: flex-start; /* each items height is independently controlled to fit the size of its content */
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0; /* to control the space around text elements just with padding of containers */
}

.col-2 {
    width: 50%; /* main section width = 2/3 of total */
}

.col-1 {
    width: 25%; /* asides width = 1/3 of total */
}

.col {
    padding: 1em;
}

/* Typography */
header {
    background: #f8f8f8;
    padding: 2em;
}

.col-1 {
    background-color: #05a6c7;
    color: #fff;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0; /* to stack the subtitle close to h1 */
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
}

/* Navigation */
nav ul {
    list-style: none; /* remove dots from links inside ul */
    display: flex; /* since li is block level element inside ul, setting ul display to flex for horizontal layout */
    padding: 0; /* remove default padding of ul */
    justify-content: center; /* equal spacing between first element and left side of ul; last element and right side of ul */
}

nav li {
    margin-left: 2em; /* space out links but stack the rightmost link to the right border*/
}

nav a {
    text-decoration: none; /* remove underline from links */
    color: #707070;
    font-weight: 700;

}

/* hover affects mouse movement and focus affects keyboard tabbing */
nav a:hover,
nav a:focus {
    color: #1792d2;
    border-bottom: 2px solid #1792d2;

}

/* Navigation aside */
aside ul {
    list-style: none; /* remove dots from aside links */
    padding: 0;
}

aside a{
    text-decoration: none; /* remove underline from links */
}

/* -------------------------------  */
/* media queries for smaller screen */
/* -------------------------------  */

/* from 2-column to 1-column layout */
@media (max-width: 675px) {
    .columns {
        flex-direction: column; /* switch flex direction's main axis */
    }
    .col-2,
    .col-1 {
        width: 100%; /* stretch columns all the way across smaller screen */
    }
}

/* for navbar */
@media (max-width: 675px) {
    .container-nav,
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 0.5em 0;
    }
}
